---
import type { menuItem } from '../interfaces';
import MenuItemView from './MenuItemView.astro';

interface Props {
  items: menuItem[];
} //toma las propiedades de menu item

const { items } = Astro.props;
---

<div class="lg:block hidden">
  <div
    class="mt-5 flex justify-center gap-10 z-50 absolute top-0 left-1/2 transform -translate-x-1/2 w-full"
  >
    {items.map((item) => <MenuItemView {...item} />)}
    <slot />
  </div>
</div>
